<% @order_items.each do |order_item| %>
  <h3><%= order_item.product.name%></h3>
  <h3><%= order_item.price %></h3>
  <%= form_with(model: order_item, local: true) do |form| %>
    <%= form.text_field :price %>
    <%= form.submit "Update" %>
  <% end %>
  <%= form_with(model: order_item, url: order_item_path(order_item), method: :delete, data: { confirm: "Are you sure?" }) do |form| %>
    <%= form.submit "Remove" %>
  <% end %>
<% end %>

<h3>Your current order has a total of: <%= @order.total %></h3>
