<div class="row">
    <% @categories.each do |category| %>
      <div class="col-12">
        <h1 style="text-align:center"><%= category.name %></h1>
      </div>
      <% @products.each do |product| %>
        <% if product.category == category %>
          <div class="col-4">
            <h5>
              <%= product.name %>
            </h5>
            <p>
              <%= product.description%>
            </p>
            <span><%= product.min_price %></span>
            <%= link_to "Personnaliser", product_path(product) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
