<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%=root_path%>">
      <%= image_tag "solstice_logo.jpg" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li>
              <a class="nav-link text-dark" href="#">Hello <%= current_user.first_name %> !</a>
            </li>
          <% end  %>
          <li>
            <p>Order ID :<%= current_order.id %> </p>
          </li>
          <li>
            <p>Session ID :<%= session.id %></p>
          </li>
          <li>
            <a class="nav-link" href="<%=shop_path%>">Commander en ligne</a>
          </li>
          <li>
            <a class="nav-link" href="<%= about_path %>">La Boutique</a>
          </li>
          <li>
            <a class="nav-link" href="<%= cart_path %>">Mon Panier</a>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag("avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }) %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= user_session_path %>">Me connecter</a>
              <a class="dropdown-item" href="<%= new_user_registration_path %>">Créer un compte</a>
              <a class="dropdown-item" data-turbo-method="delete" href="<%= destroy_user_session_path %>">Me déconnecter</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
