<h1 class= "title">Catégories</h1>
  <a class="nav-link" href="<%=products_path%>">Voir tous les produits</a>
<div class="container">
  <% @categories.each do |category| %>
    <h1 class="category-name"><%= category.name %></h1>
    <%= form_with(model: category, local: true) do |form| %>
      <%= form.number_field :order %>
      <%= form.submit "Update" %>
    <% end %>
    <a href="<%=category_path(category)%>">Voir les produits</a>
  <% end %>
</div>
