<%= form_for(product, remote: true, html: { multipart: true }) do |f| %>
    <div class="form-group">
      <%= f.label :name, "Nom du produit" %>
      <br>
      <%= f.text_field :name, class: 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Description" %>
      <br>
      <%= f.text_area :description, class: 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.label :min_price, "Prix minimum" %>
      <%= f.number_field :min_price %>
    </div>
    <div class="form-group">
      <%= f.label :available, "Disponible ?" %>
      <%= f.check_box :available%>
    </div>
    <div class="form-group">
      <%= f.label :order, "Position" %>
      <%= f.number_field :order%>
    </div>
    <!-- Existing Images -->
    <% product.photos.each do |photo| %>
      <div>
        <img src="<%= cl_image_path photo.key %>" alt="" class="form_image">
        <%= f.check_box :remove_image, { multiple: true }, photo.id, nil %>
      </div>
    <% end %>

    <!-- New Images -->
    <%= f.label :new_images %>
    <%= f.file_field :new_images, { multiple: true } %>

    <div class="form-group">
      <%= f.submit "Mettre à jour", class:"btn btn-action" %>
    </div>
<% end %>
