<!DOCTYPE html>
<html>
  <head>
    <title>Solstice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <h5>Current Order ID :</h5><%= current_order.id  %>
    <h5>Current Session ID :</h5><%= session.id  %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
